body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}


.container{
    background-color: lightgray;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container img {
    width: 200px;
    height: 200px;
}


.container img {
    width: 400px;
    height: 200px;
}

.container img{
    width: 200px;
    height: 300px;
}
